<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Analisis Stok Tanah Liat</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .container {
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-top: 50px;
      width: 90%;
    }
    .iframe-container {
      width: 100%;
      height: 80vh; /* Set height to 80% of the viewport height */
    }
    .iframe-container iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="text-center">
      <div class="iframe-container">
        <iframe title="monitoring tanah liat" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMTM5NmFlZjAtNjgwNy00M2ZiLTgyNzQtMGM2NDkwNzg2MjQ1IiwidCI6IjUzYjkyMTJhLTAyMDEtNGZlMS04OTVkLTg1NWRjMjE2MDJjYyIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
      </div>
    </div>
  </div>
</body>
</html>
